<a href="https://colab.research.google.com/github/picodj/Kokoa-clone2020/blob/gh-pages/2021-02-19(Fri)_classday_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
a='p'

https://velog.io/@hayeon/%EC%A0%9C%EC%A3%BC%EC%BD%94%EB%94%A9%EB%B2%A0%EC%9D%B4%EC%8A%A4%EC%BA%A0%ED%94%84-Python-2136%EC%A0%9C 파이썬 문제

In [46]:
print(type(a))

<class 'str'>

In [47]:
a = 10
b = 2
for i in range(1,5,2):
  a += i

In [48]:
print(a+b)

16

In [55]:
d= {'height':180,'weight':78,'weight':84}

In [56]:
print(d['weight'])

84

In [65]:
year = '2019'
month = '04'
day = '26'
hour = '11'
minute ='34'
second ='27'

print(year,month,day,sep='/',end=" ")
print(hour, minute, second, sep=':',end=" ")

2019/04/26 11:34:27

In [66]:
print('    *    ')
print('   ***   ')
print('  *****  ')
print(' ******* ')
print('*********')

    *
   ***
  *****
 *******
*********

In [115]:
    n = int(input("몇단 짜리 크리스마스 트리인가요? : "))

    for i in range(1, n * 2, 2):
        print((" " * ( (n * 2 - 1 - i) // 2 )) + ("*" * i))

몇단 짜리 크리스마스 트리인가요? : 5
    *
   ***
  *****
 *******
*********

In [122]:
n = int(input('몇단짜리 크리스마스 트리를 만들까요? : '))
for i in range (1,n+1):
    print(" " * (n-i) + "*"*(i * 2 -1))

몇단짜리 크리스마스 트리를 만들까요? : 5
    *
   ***
  *****
 *******
*********

In [127]:
# 문제 11번
s = 0
for i in range(1,101):
  s += i

print(s)

5050

In [148]:
# 문제 12번
class Wizard:
  def __init__(self,health,mana,armor):
      self.health = health
      self.mana = mana
      self.armor = armor
  def attack(self):
    return print('파이어볼')
  


x = Wizard(health = 545, mana = 210, armor = 10)
print(x.health, x.mana, x.armor)
x.attack()

545 210 10
파이어볼

In [174]:
# 문제 13번 몇번째 행성인가요?

planets = ["수성","금성","지구","화성","목성","토성","천왕성","해왕성"]

n = int(input("태양계의 n번째 행성은? : ")) -1 
print(planets[n])

태양계의 n번째 행성은? : 1
수성

In [178]:
# 문제 14번 3의 배수 인가요?

a = int(input('숫자를 입력하세요 : '))
if a % 3 == 0 :
  print('짝')
else:
  print(a)

숫자를 입력하세요 : 15
짝

In [201]:
# 문제 15번 자기소개

a = input('이름을 입력하세요 :' )

print('안녕하세요 저는 %s입니다.' % a)

이름을 입력하세요 :서동주
안녕하세요 저는 서동주입니다.

In [200]:
# 문제 16번

a = input('문장을 입력해주세요 : ')
print(a[::-1])

문장을 입력해주세요 : 거꾸로
로꾸거

In [184]:
# 문제 17번 


a = int(input('키를 입력하세요 : '))
if a > 150:
  print('YES')
else:
  print('NO')

키를 입력하세요 : 140
NO

In [220]:
# 문제 18 번  한번에 입력받도록 

nums=list(map(int,input().split()))

print(int(sum(nums)/len(nums)))

55 45 85 88 22 15 46
50

In [221]:
# 문제 19번

a,b=map(int,input().split())
print(a**b)

3 2
9

In [222]:
n = list(map(int,input().split()))  # 외워라 
print(n[0]**n[1])

3 2
9

In [234]:
# 문제 20 몫과 나머지 
# 공백으로 구분하여 두숫자가 주어집니다. 
# 첫번째 숫자로 두번째 숫자를 나누었을때 그 몫과 나머지를 공백으로 구분하여 출력하세요

n = list(map(int,input().split()))

print(n[0]//n[1], end=' ')
print(n[0]%n[1])

10 5
2 0

In [236]:
user_input = input()
print(user_input.upper())

mary
MARY

In [252]:
# 문제 25번 함수 형태로 

def circle(a):
  return a*a*3.14

circle(int(input()))

5

78.5

In [274]:
# 문제 26 

planet = {
    '수성': 'Mercury',
    '금성':'Venus',
    '지구':'Earth',
    '화성':'Mars',
    '목성':'Jupiter',
    '토성':'Saturn',
    '천왕성':'Uranus',
    '해왕성':'Neptune'}
try:
  a= input()
  print(planet[a])
except KeyError:
  print('찾는 행성이 없습니다.')

사과
찾는 행성이 없습니다.